<ion-content [fullscreen]="true">
  <div class = "container">
  <h1>SUMMER COLLECTIONS</h1>
  </div>

  <div class = "container1">
    <h2>2022</h2>
  </div>

  <div class = "container2">
    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.</h3>
  </div>

  <div class = "button">
  <ion-button shape="round" size="large" href = "/loja">GET STATED
    <ion-icon slot= end name="arrow-forward-outline"></ion-icon>
  </ion-button>
  </div>

  <div class = "tenis">
    <ion-img id = "logo" src="https://s3-alpha-sig.figma.com/img/4b9b/ad40/4db3d4c792e53413c59db52e6d287185?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XqnQoXJoQVIz65myw~xHIRCYgK5NVxyW9pL72ITG6bIO6HK0teNCQe-GaGnImvPCZiOsH7Y86GnDtEVC7ZothEp2z0HxGP3bfj1GtCZ9QEPOlvrMiqqzzOhO2rvylvCvUJtu3T0woJTFGv1IvS9FlvioBo~GvsI3oR-leGm0Wl8Mb3xB4H7lHD84nBpU~TdGJzhj-gev34ORGmJgkIqC8lGCph65Raik~JGUDgIwRQ0fMorOQ0~-JpxdJXGvJxMI92Rmek2onMJCufNmUOWRvmMRSVwoHiN9Ep3iKsorgk6ZaPgGPVhDgP~McWDrvGcLJOsYXj~hQQnlNWv-1Ltbkw__" alt="tenis" ></ion-img>
  </div>

  <div class = "logo">
    <ion-img id="tenis" src= "https://s3-alpha-sig.figma.com/img/3178/2394/bb357f8f4f2abcdc1305bc592629e655?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=hbdwzda9uHxJ-uIP1QBrWcb~LSwVCSK7ZCS5Xmd8BGUkn~BqtlqcX3CY4LYdUaiullsv-RLBigUs4ak8PafLAHlKkodHqEvTqsM9sCLcJPNMl1RylpSJw1Vhga280SJCyhlK5jsTFYsks9C7urg83C5BNKm-3POLjkeT5cnI2z9QC~PtnR7e1Dz4fUKSiQKL-YzaKyrN0zZ7T2-dMbheTsdrarwmc63NnjN9qX-VchcsJjQvRUNmbyxK3YQTZWgpKcxlSMvYPJk3dRrM1xXW5gLggX7uoq5IboiNhqHLVB9FCD3errOdI3ADr6ZhxKXqO~VmVNrWyL7rmhZK5zu8PA__" alt="logo da nike" style="width: 100px; height:60px; margin: 20px;"></ion-img>
  </div>











</ion-content>

